<h3>Hi
  <span *ngIf="currentUser.name; else username">
  {{currentUser.name}}
  </span>
  <ng-template #username>{{currentUser.username}}</ng-template>
  !
</h3>
<h4>Search feed news</h4>
<div>
  <form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <input id="keyword" placeholder="Keyword" type="text" formControlName="keyword" class="form-control"
             [ngClass]="{ 'is-invalid': submitted && f.keyword.errors }"/>
      <div *ngIf="submitted && f.keyword.errors" class="invalid-feedback">
        <div *ngIf="f.keyword.errors.required">Keyword is required</div>
      </div>
    </div>
    <div class="form-group">
      Choose searching by (index in all, title in only titles)
      <select id="type" formControlName="type" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.type.errors }">
        <option value="index">Index</option>
        <option value="title">Title</option>
      </select>
    </div>
    <div>
      <p>Please retry attempt, in case of any backend errors</p>
      <p>Py feeds is using third party API, which may fail</p>
      <button class="btn btn-primary form-control">
        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
        Fetch
      </button>
    </div>
  </form>
</div>
<div style="margin: 50px;"></div>
<div id="articles" *ngFor="let article of articles;">
  <mat-card class="article-card" style="background: white;">
    <mat-card-header>
      <mat-card-title><b>{{article.title}}</b></mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div *ngIf="article.content; else show">
        {{article.content}}
      </div>
      <ng-template #show>There is no any content
        <p>Please visit link <a href="{{article.url}}">{{article.url}}</a></p>
      </ng-template>
      <div *ngIf="article.comment_text; else show_comments">
        {{article.content}}
      </div>
      <ng-template #show_comments>There is no any commentaries
        <p>Please visit link <a href="{{article.url}}">{{article.url}}</a></p>
      </ng-template>
      <div>
        <i>Author: {{article.author}}</i>
      </div>
      <div>
        <i>Date: {{article.created_at}}</i>
      </div>
      <div>
        <i>Date of found: {{article.fetched_at}}</i>
      </div>
    </mat-card-content>
  </mat-card>
  <div style="margin: 30px;"></div>
</div>
<div style="margin: 50px;"></div>
<div *ngIf="articles.length != 0">
  <button
    [disabled]="disabled"
    (click)="loadMoreArticles()" class="btn btn-primary form-control">
    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
    More articles
  </button>
</div>
