<h3>Hi {{currentUser.name}}!</h3>
<h4>Search feed news</h4>
<div>
  <form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <input id="keyword" placeholder="Keyword" type="text" formControlName="keyword" class="form-control"
             [ngClass]="{ 'is-invalid': submitted && f.keyword.errors }"/>
      <div *ngIf="submitted && f.keyword.errors" class="invalid-feedback">
        <div *ngIf="f.keyword.errors.required">Keyword is required</div>
      </div>
    </div>
    <div class="form-group">
      <select id="type" formControlName="type" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.type.errors }">
        <option selected="selected" value="index">Index</option>
        <option value="title">Title</option>
      </select>
    </div>
    <button class="btn btn-primary">
      <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
      Fetch
    </button>
  </form>
</div>
<mat-card class="article-card" *ngFor="let article of articles">
  <mat-card-header>
    <!--<mat-card-avatar></mat-card-avatar>-->
    <mat-card-title>{{article.title}}</mat-card-title>
    <mat-card-subtitle>{{article.author}}</mat-card-subtitle>
  </mat-card-header>
  <!--<img mat-card-image src="" alt="">-->
  <mat-card-content>
    <p *ngIf="article.content else article.comment_text">
    </p>

  </mat-card-content>
  <mat-card-footer>
    <p>
      Created at {{article.created_at}}
    </p>
    <p>
      Link at article <a href="{{article.url}}">{{article.url}}</a>
    </p>
  </mat-card-footer>
</mat-card>
